/* General CSS */
body {
  background-color: transparent;
  overflow: hidden;
}


/* Conatiner CSS */
.character-container {
  height: 200px;
  width: 200px;
}

/* Images CSS */
.blackcat {
  display: inline-block;
  position: relative;
  top: -204px;
  left: 0;
  z-index: 1;
  height: 200px;
  width: 200px;
}

.blackcat-wink {
  display: inline-block;
  position: relative;
  z-index: 2;
  height: 200px;
  width: 200px;
  opacity: 0;
  animation-name: chfade;
  animation-duration: 12s;
  animation-delay: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* Animation CSS */
@keyframes chfade {
  0% {
    opacity: 0;
  }
  5%, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
